layout {
    pane split_direction="vertical" {
        pane name="btop" {
            command "btop"
            focus true
        }
        pane split_direction="horizontal" {
          pane name="cava" {
            command "zsh"
            args "-lc" "sleep 5 && cava"
            }
            pane name="lavat" {
                command "zsh"
                args "-lc" "sleep 0.5 && lavat -s2 -r1 -b8 -p2"
            }
            pane name="cmatrix" {
                command "cmatrix"
                args "-raco" "-u" "10" "-M" "Juan"
            }
            pane name="pipes" {
                command "pipes.sh"
            }
        }
    }
}
