.bash_history
.bash_logout
.bash_profile
.cache/
.cargo/
.config/
!/.config/wallpapers/
!/.config/wallpapers/*
Desktop/
Downloads/
.gnupg/
.gtkrc-2.0
.icons/
.java/
.local/
.minecraft/
.mozilla/
.npm/
.pki/
.pulse-cookie
.steam/
.steampath
.steampid
.thunderbird/
.vscode/
.wget-hsts
