.ServiceHub/
.angular-config.json
.bash_history
.bash_logout
.bash_profile
.cache/
.cargo/
.conda/
.config/Code/
.config/EOS-greeter.conf
.config/GIMP/
.config/JetBrains/
.config/KDE/
.config/Mailspring/
.config/Notion/
.config/PlasmaDiscoverUpdates
.config/QtProject.conf
.config/Thunar/
.config/Tracktion/
.config/Trolltech.conf
.config/VirtualBox/
.config/WebCord/
.config/ardour8/
.config/arkrc
.config/audacity/
.config/auroraerc
.config/background
.config/baloofileinformationrc
.config/baloofilerc
.config/bluedevilglobalrc
.config/btop/
.config/byobu/
.config/calibre/xdg_open_with.json
.config/cava/
.config/clight-gui/
.config/clight.conf
.config/darktable/
.config/dconf/
.config/discord/
.config/discoverrc
.config/dolphinrc
.config/filetypesrc
.config/firewall/
.config/geogebra/
.config/github-copilot/
.config/go/
.config/gromit-mpx.ini
.config/gtk-2.0/
.config/gtk-3.0/
.config/gtk-4.0/
.config/gtkrc
.config/gtkrc-2.0
.config/gwenviewrc
.config/haruna/
.config/harunarc
.config/htop/
.config/jgit/
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/katevirc
.config/kcalcrc
.config/kcminputrc
.config/kconf_updaterc
.config/kde.org/
.config/kdeconnect/
.config/kded5rc
.config/kded6rc
.config/kdedefaults/
.config/kdeglobals
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/kfontinstuirc
.config/kfontviewrc
.config/kglobalshortcutsrc
.config/kiorc
.config/knfsshare
.config/konsolerc
.config/konsolesshconfig
.config/krunnerrc
.config/kscreenlockerrc
.config/ksmserverrc
.config/ksnip/
.config/ksplashrc
.config/ktimezonedrc
.config/kwalletmanagerrc
.config/kwalletrc
.config/kwinoutputconfig.json
.config/kwinrc
.config/kxkbrc
.config/libaccounts-glib/
.config/menus/
.config/microsoft-edge/
.config/mimeapps.list
.config/obs-studio/
.config/obsidian/
.config/okularpartrc
.config/okularrc
.config/onlyoffice/
.config/pavucontrol.ini
.config/pdfarranger/
.config/plasma-localerc
.config/plasma-nm
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasma.emojierrc
.config/plasmanotifyrc
.config/plasmaparc
.config/plasmarc
.config/plasmashellrc
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/privateinternetaccess/
.config/pulse/
.config/reflector-simple-free-params.txt
.config/sddmthemeinstallerrc
.config/session/
.config/simple-update-notifier/
.config/spectaclerc
.config/spotify/
.config/systemd/
.config/systemmonitorrc
.config/systemsettingsrc
.config/teams-for-linux/
.config/trashrc
.config/unity3d/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vesktop/
.config/vlc/
.config/xdg-desktop-portal-kderc
.config/xfce4/
.config/xsettingsd/
.dotnet/
.firestorm_x64/
.fonts.conf
.gnupg/
.gradle/
.gtkrc-2.0
.icons/
.java/
.lmmsrc.xml
.local/
.m2/
.mariadb_history
.nimble/
.npm/
.nuget/
.ovftool.ssldb
.paradoxlauncher/
.parallel/
.pki/
.pulse-cookie
.redhat/
.steam/
.steampath
.steampid
.stremio-server/
.sts4/
.templateengine/
.thunderbird/
.vmware/
.vscode/
.zcompdump
.zcompdump-arch-5.9
.zcompdump-arch-5.9.zwc
.zsh_history
.zshrc.pre-oh-my-zsh
Calibre Library/
Desktop/
Documents/
Downloads/
Pictures/
Videos/
Zomboid/
go/
vmware/
