.bash_history
.bash_logout
.bash_profile
.cache/
.config/Electron/
.config/KDE/
.config/Trolltech.conf
.config/baloofilerc
.config/bluedevilglobalrc
.config/dconf/
.config/discoverrc
.config/dolphinrc
.config/drkonqirc
.config/gtk-3.0/
.config/gtk-4.0/
.config/gtkrc
.config/gtkrc-2.0
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/kate/
.config/katerc
.config/katevirc
.config/kcminputrc
.config/kconf_updaterc
.config/kde.org/
.config/kded5rc
.config/kded6rc
.config/kdedefaults/
.config/kdeglobals
.config/kglobalshortcutsrc
.config/kiorc
.config/krdpserverrc
.config/ksmserverrc
.config/ksplashrc
.config/ktimezonedrc
.config/kwalletrc
.config/kwinoutputconfig.json
.config/kwinrc
.config/kwriterc
.config/kxkbrc
.config/libaccounts-glib/
.config/microsoft-edge/
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasma-welcomerc
.config/plasmaparc
.config/plasmarc
.config/plasmashellrc
.config/powermanagementprofilesrc
.config/pulse/
.config/session/
.config/simple-update-notifier/
.config/systemd/
.config/trashrc
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vesktop/
.config/xsettingsd/
.gitconfig
.gnupg/
.gtkrc-2.0
.icons/
.local/
.npm/
.pki/
.pulse-cookie
.shell.pre-oh-my-zsh
.steam/
.steampath
.steampid
.vmware/
.wget-hsts
.zcompdump-Arch-5.9
.zcompdump-Arch-5.9.zwc
.zsh_history
.zshrc.pre-oh-my-zsh
Desktop/
.config/Code/
.config/JetBrains/
.config/PlasmaDiscoverUpdates
.config/QtProject.conf
.config/jgit/
.config/obsidian/
.config/onlyoffice/
.config/teams-for-linux/
.java/
.thunderbird/
.vscode/
Documents/
.config/plasmanotifyrc
.config/spectaclerc
.config/discord
.config/kscreenlockerrc
.config/xdg-desktop-portal-kderc
.config/cava/
Downloads/
.cargo/
.config/spotify/
.config/Notion/
.config/kdeconnect/
.config/knfsshare
.config/konsolerc
.config/konsolesshconfig
.config/mimeapps.list
Calibre\ Library/
.config/okularrc
.angular-config.json
.zcompdump
.config/Postman/
.config/baloofileinformationrc
.config/calibre/viewer-webengine.json
.config/calibre/viewer/
.config/gwenviewrc
.config/menus/
.config/notion-calendar-electron/
.config/systemsettingsrc
.dotnet/
.gradle/
.jdks/
.m2/
.nuget/
.redhat/
.sts4/
.templateengine/
.yarnrc
.ServiceHub/
.config/EOS-greeter.conf
.config/filetypesrc
.config/firewall/
.config/kcalcrc
.config/reflector-simple-free-params.txt
.zcompdump-arch-5.9
.zcompdump-arch-5.9.zwc
