* {
    border-radius: 10px;
    min-height: 0;
    font-family: CascadiaCode;
    font-size: 13px;
  }
  
  window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: 0.5s;
  }
  window > box{
      background-color: #004ec1;
      margin: 1px;
      background: transparent;
      /* border: 1px solid rgba(100, 114, 125, 0.5); */
      color: white;
  }
  /*#custom-firefox {
    color: #ff6347;
    font-size: 30px;
    padding-right: 12px;
    padding-left: 9px;
  }
  #custom-kitty {
    color: yellow;
    font-size: 30px;
    padding-right: 12px;
    padding-left: 9px;
  }
  #custom-launcher {
    color: white;
    font-size: 26px;
    padding-right: 10px;
    padding-left: 9px;
  }*/
  #custom-arch {
  }
  
  window#waybar.hidden {
    opacity: 0.5;
  }
  
  #workspaces {
    background-color: transparent;
  }
  
  #workspaces button {
    all: initial; /* Remove GTK theme values (waybar #1351) */
    min-width: 0; /* Fix weird spacing in materia (waybar #450) */
    box-shadow: inset 0 -3px transparent; /* Use box-shadow instead of border so the text isn't offset */
    padding: 0px 18px;
    margin: 0px 3px;
    border-radius: 15px;
    background-color: #1e1e2e;
    color: #cdd6f4;
  }
  
  #workspaces button.active {
    color: #1e1e2e;
    background-color: #3f80b5;
  }
  
  #workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #1e1e2e;
    background-color: #51a0e0;
  }
  
  #workspaces button.urgent {
    background-color: #f38ba8;
  }
  
  #memory,
  #custom-power,
  #battery,
  #backlight,
  #pulseaudio,
  #network,
  #clock,
  #tray, 
  #custom-spotify {
    border-radius: 60px;
    margin: 2px 3px;
    padding: 2px 12px;
    background-color: #1e1e2e;
    color: #181825;
  }
  
  #custom-power {
    margin-right: 6px;
  }
  #custom-logo {
    padding-right: 22px;
    padding-left: 13px;
    margin-right: 8px;
    font-size: 15px;
    border-radius: 36px;
    color: #abe2d9;
    background-color: #1e1e2e;
    box-shadow: inset 0 -3px transparent;
  }
  #custom-spotify {
      background-color: #1ED760;
  }
  
  #memory {
    background-color: #fab387;
  }

  @keyframes blink {
    to {
      background-color: #f38ba8;
      color: #181825;
    }
  }

  #backlight {
    background-color: #fab387;
  }
  
  #pulseaudio {
    background-color: #f9e2af;
  }
  
  #network {
    background-color: #94e2d5;
    padding-right: 17px;
  }
  
  #clock {
    font-family: CascadiaCode;
    background-color: #cba6f7;
  }
  
  #custom-power {
    background-color: #f2cdcd;
  }
  
  tooltip {
    border-radius: 8px;
    padding: 5px;
    background-color: white;
  }
  
  tooltip label {
    padding: 5px;
    background-color: white;
  }
