* {
    background-color: #1e1e2e;  /* Fondo oscuro */
    color: #ffffff;            /* Texto claro */
    border-color: #44475a;     /* Bordes oscuros */
}

#window {
    padding: 10px;
    border-radius: 10px;
}

#input {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #282c34;
    color: #ffffff;
    border-radius: 5px;
}

#list {
    background-color: #1e1e2e;
    color: #ffffff;
}

#list > entry {
    padding: 5px;
    margin: 2px;
    background-color: #44475a;
    border-radius: 5px;
}

#list > entry:selected {
    background-color: #6272a4;
    color: #ffffff;
}
